.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

.category-card{
  height: 210px !important;
  margin-bottom: 20px !important ;
}

.custom-loader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
}
body {
  background-color: #ececec !important;
}
.main-heading {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.list-container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.news-card{
  height: 520px !important;
  margin-bottom: 20px !important ;  
}