.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

.category-card{
  height: 210px !important;
  margin-bottom: 20px !important ;
}

.custom-loader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
}
body {
  background-color: #ececec !important;
}
.main-heading {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.main-heading a {
  font-size: 28px;
  color: black;
  font-weight: 500;
}

.main-heading a:hover {
  color: black;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.list-container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.news-card{
  margin-bottom: 20px !important ;  
}
.ant-card-body {
  color: #4f4c4c;
}
.ant-card-cover {
  background-color: #d3d3de;
  height: 350px;
  width: 100%;
}


.category-list-wrapper .ant-col-12 .ant-card .ant-card-head-title a {
  color: black;
  font-size: 15px;
}
.ant-card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ant-card-body {
  min-height: 155px;
}
.ant-card-head .ant-card-head-wrapper .ant-card-head-title {
  transition: 0.5s;
}
.ant-card:hover .ant-card-head .ant-card-head-wrapper .ant-card-head-title {
  color: #ff5575;
  transition: 0.5s;
}
.ant-card .ant-card-head .ant-card-head-wrapper .ant-card-head-title a {
  transition: 0.5s;
}
.ant-card:hover .ant-card-head .ant-card-head-wrapper .ant-card-head-title a {
  color: #ff5575;
  transition: 0.5s;
}
@media (max-width: 1250px) {
  .ant-card-cover {
    height: 250px;
  }
}
.back-btn {
  position: absolute;
  left: 61px;
  top: 33px;
  font-weight: bold;
}

.back-btn svg {
  color: black;
  font-size: 20px;
}